<% provide :title, t("layouts.footer.about") %>
<h1><%= t("layouts.footer.about") %></h1>
<p>
  <%= sanitize t(".content", link_rails_tutorial: link_to(t("rails"), Settings.settings.rails_tutorial), link_help_page: link_to(t("help"), Settings.settings.help), link_learn_enough: link_to(t(".learn_enough"), Settings.settings.learn_enough), link_rails_book: link_to(t(".book"), Settings.settings.book), link_screen_cast: link_to(t(".screen_cast"), Settings.screen_cast), link_rails: link_to(t(".rails")))%>
</p>
